@import "mixins";

.policies {
    margin-top: 24px;
    margin-bottom: 80px;
    .title {
        margin-bottom: 24px;
    }
    .paragraph {
        margin-bottom: 4rem;
    }
    @include mq-min($md) {
        margin-top: 6rem;
        margin-bottom: 10rem;
    }
    @include mq-min($lg) {
        .container {
            margin: 0 auto;
            max-width: 76%;
        }
        .title {
            margin-bottom: 5rem;
        }
        .decorated-img {
            margin-right: 7.5rem;
        }
    }
}