.card {
    background: var(--color-light);
    overflow: hidden;
    display: block;
    position: relative;
    &.center {
        text-align: center;
    }
    &-body {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        .text{
            margin-top: 1.6rem;
        }
        p {
            font-family: var(--f-secondary);
        }
        span {
            display: inline-block;
            font-size: 12px;
            line-height: 1.3;
        }
    }
    &-title {
        font-weight: 600;
        font-size: 16px;
        @include mq-min($md) {
            font-size: 2rem;
        }
    }
    &-label-arrow {
        font-weight: 700;
        font-size: 1.6rem;
        letter-spacing: -0.6px;
        padding-right: 3.2rem;
        margin-top: 1.9rem;
        color: var(--color-sec-50);
        position: relative;
        display: inline-flex !important;
        align-items: center;
        &::before{
            content: "\e950";
            font-family: 'icomoon';
            font-size: 2rem;
            color: currentColor;
            position: absolute;
            right: 6px;
            transition: transform .3s ease-in-out;
        }
    }
    &-figure{
        display: inline-flex;
        overflow: hidden;
        &.min {
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;
            margin-bottom: 1.6rem;
            margin-top: 8px;
            background: var(--color-light-50);
        }
    }
    @include mq-min($xl){
        &:hover {
            .card-label-arrow {
                &::before {
                    transform: translateX(10px);
                }
            }
        }
    }
}

.card {
    .card-img-1 {
        margin-top: 1.6rem;
        margin-bottom: 3px;
    }
    .card-img-2 {
        margin-top: 4.6rem;
        margin-bottom: 3.4rem;
    }
    .icon-download {
        margin-left: 1rem;
    }
}

.card-1 {
    border-radius: 8px;
    .card-title {
        color: var(--color-gray-200);
        min-height: 4.8rem;
    }
    .card-body{
        padding-top: 2.4rem;
        padding-bottom: 3.2rem;
        .text p {
            color: var(--color-gray-100);
        }
    }
}

.card-2 {
    border-radius: 16px;
    text-align: center;
    border: 2px solid #F1F1F1;
    box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);
    .card-title {
        margin-bottom: 14px;
        color: #000000; 
    }
    .card-body{
        padding-bottom: 3rem;
    }
    img {
        max-height: 16.2rem;
    }
    .btn {
        margin-top: 2rem;
    }
    @include mq-min($md) {
        .card-title {
            margin-bottom: 2.4rem;
        }
    }
}

.memories_item .card-figure {
    width: 11.9rem !important;
    height: 17.8rem !important;
}


.card-download {
    padding: 3.6rem 1.6rem;
    border-radius: 16px;
    overflow: hidden;
    text-align: center;
    .card-figure {
        width: 19.2rem;
        height: 16.2rem;
        display: inline-flex;
        border-radius: 8px;
        &.no-image {
            img {
                width: 2.67rem;
                height: 2.67rem;
            }
        }
    }
    .card-title {
        margin: 24px 0;
    }
    .download-link {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
        transition-property: opacity, visibility;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #282828;
            mix-blend-mode: normal;
        }
        a {
            position: relative;
            border: 1px solid #FFFFFF;
            border-radius: 44px;
            color: var(--color-light);
        }
    }
    &:hover {
        .download-link {
            opacity: 0.55;
            visibility: visible;
        }
    }
}


.inmueble-card {
    margin-bottom: 1.6rem;
    .inmb-details-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .terrain {
            span {
                margin-left: 1.1rem;
            }
        }
        @include mq($sm) {
            .inmb-serv {
                width: 100%;
                text-align: center;
            }
            .terrain {
                margin-bottom: 10px;
            }
        }
        @include mq-min($lg) {
            .terrain {
                width: 42%;
            }
        }
    }
}

.project-card {
    margin-bottom: 25px;
    .short-description {
        font-size: 14px;
        font-family: var(--f-secondary);
        color: #686868;
    }
    .project-details-list {
        display: flex;
        flex-direction: column;
        &>div {
            &:first-child {
                margin-bottom: 15px;
            }
        }
    }
}

.inmueble-card, .project-card {
    .post-img-wrap {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #F1F1F1;
        width: 100%;
        height: 288px;
        .figure {
            height: 100%;
            width: 100%;
        }
        .no-image {
            width: 3.5rem;
            height: 3.5rem;
        }
    }
    @include mq-min($lg) {
        display: flex;
        align-items: center;
        .post-img-wrap {
            width: 23.2rem;
            height: 24.2rem;
        }
    }
    @include mq-min($lg2){
        justify-content: space-between;
    }
}

.inmueble-card, .project-card {
    overflow: hidden;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
    .post-card-body {
        padding: 24px;
        width: 100%;
        .post-description {
            padding-bottom: 1.6rem;
            margin-bottom: 1.6rem;
            border-bottom: 1px solid #C2C2C2;
            .price {
                font-size: 2.4rem;
                font-weight: 600;
                letter-spacing: -0.6px;
                color: var(--color-pr-50);
                display: inline-block;
                margin-bottom: 1rem;
            }
            .location {
                color: #686868;
            }
            .inmb-title {
                font-family: var(--f-secondary);
                font-weight: 700;
                font-size: 16px;
                color: #000000;
                margin-bottom: 8px;
            }

        }
        .post-details {
            &-list {
                div {
                    align-items: center;
                    color: #686868;
                    margin-right: 25px;
                }
            }
        }
        @include mq($sm) {
            .wrap-se-btn {
                margin-top: 24px;
            }
        }
    }
    @include mq-min($lg){
        .post-card-body {
            padding: 1.4rem 3rem 2rem 3.2rem;
            .post-details {
                display: flex;
                justify-content: space-between;
            }
        }
        &.t1 .post-card-body {
            width: 75%;

        }
    }
}

.box-1 {
    border: 2px solid #F1F1F1;
    box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);
}   

.box-2 {
    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
}