<app-banner-page [bannerFields]="acf"></app-banner-page>

<breadcrumbs [breadcrumbs]="acf.breadcrumb"></breadcrumbs>

<section class="find_edn_sect banner">
    <div class="find_edn_wrap container">
        <h2 class="title">{{acf.title}}</h2>
        <div class="c-flex items-center r-reverse j-end">
            <div class="find_edn_img_wrap">
                <img class="find_edn_image" [src]="acf.image" alt="">
            </div>
            <div class="description">
                <div class="instruction" [innerHtml]="acf.descripcton"></div>
                <div class="search-edn-wrap">
                    <div class="form_search_edn bg-gray">
                        <form #f="ngForm" [formGroup]="formJob" (ngSubmit)="searchEDN(f)" autocomplete="off">
                            <div class="search-group gray" [ngClass]="{'s-loading': isSearching}">
                                <span class="icon-wrap"><i class="icon-search"></i></span>
                                <mat-form-field appearance="outline">
                                    <input placeholder="Ingresa tu DNI" formControlName="dni" matInput maxlength="8"
                                        (keypress)="hService.onlyNumbers($event)" type="text" >
                                </mat-form-field>
                            </div>                            
                            <button class="btn gnrl">Buscar ejecutivo</button>
                        </form>
                    </div>
                    <div class="no-results" *ngIf="noResult">
                        No tienes ningún producto o no estas registrado.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>