<app-banner-page [bannerFields]="acf"></app-banner-page>

<breadcrumbs [breadcrumbs]="acf.breadcrumb"></breadcrumbs>

<section class="definition">
    <div class="container">
        <h2 class="title center">{{acf.definition_title}}</h2>
        <div [innerHtml]="acf.definition_text"></div>
    </div>
</section>

<section class="payments">
    <div class="payments_swiper">
        <div class="swiper-card swiper-height-auto">
            <swiper [config]="paymentsSwiper">
                <ng-template swiperSlide *ngFor="let item of acf.payments_list">
                    <div class="card card-2">
                        <img class="card-img-1" [src]="item.image" [alt]="item.title">
                        <div class="card-body">
                            <h4 class="card-title">{{item.title}}</h4>
                            <div class="card-text">
                                <p>{{item.text}}</p>
                            </div>
                            <a class="btn underline" *ngIf="item.type_url === 'section'; else noSection"
                            (click)="expandAgents(agents)">
                                {{item.btn_text}}
                            </a>
                            <ng-template #noSection>
                                <a class="btn underline" 
                                (click)="hService.goLink(item.url_internal || item.url_external, item.type_url)">
                                    {{item.btn_text}}
                                </a>
                            </ng-template>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
        <div class="payments-pagination swiper-pagination"></div>
    </div>
</section>


<div #agents></div>
<section class="correspondent_agents bg-gray" [ngClass]="{hide: !showAgents}">
    <div class="agents_wrap container">
        <h2 class="title">{{acf.agents_title}}</h2>
        <div class="tabs_wrap">
            <mat-tab-group>
                <mat-tab *ngFor="let tab of acf.agents_list" [label]="tab.tab_title">
                    <ng-template matTabContent>
                        <div class="payment_tab">
                            <div class="paragraph_wrap">
                                <div class="paragraph">
                                    <h4>{{acf.label_description}}</h4>
                                    <ol>
                                        <li>
                                            <div [innerHtml]="tab.description"></div>
                                        </li>
                                    </ol>
    
                                    <h4>{{acf.label_details}}</h4>
                                    <ol>
                                        <li *ngFor="let li of tab.aditional_details">
                                            <div [innerHtml]="li.text"></div>
                                        </li>
                                    </ol>
                                    <span class="btn gnrl" (click)="showHideTable()" *ngIf="tab.has_table"
                                        [ngClass]="{'hide': isShowTable}">
                                        {{acf.label_see_table}}
                                    </span>
                                </div>
                            </div>  
                            <div class="payment_rate">
                                
                                <div class="table-wrap" *ngIf="tab.has_table; else noTable"
                                    [ngClass]="{'hide': !isShowTable}">
                                    <h4 class="title_rate">{{acf.label_rate}}</h4>
                                    <table class="table-bordered">
                                        <thead>
                                            <tr>
                                                <th *ngFor="let head of tab.table.header">{{head.c}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of tab.table.body">
                                                <td *ngFor="let item of row">{{item.c}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <span class="btn border" (click)="showHideTable()">
                                        {{acf.label_see_less}}
                                    </span>
                                </div>
                                <ng-template #noTable>
                                    <h4 class="title_rate">{{acf.label_rate}}</h4>
                                    <div class="text-check" 
                                        [innerHtml]="tab.rate_description"></div>
                                </ng-template>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>